<template>
    <div class="test">
        <quick-{{name}}></quick-{{name}}>
    </div>
</template>

<script>
    import TestDemo from '../index.vue';
    export default {
        components: {
            TestDemo,
        },
    }
</script>